@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 35, 255);
}
a{
    text-decoration: none;
}
.ti{
    display: flex;
    color: white;
}
.mosaico{
    border-radius: 40px;
    width: 800px;
}
.tani{
    display: flex;
    color: white;
    width: 700px;
    font-family:'Sansita Swashed', sans-serif ;
}
.fim{
    display: flex;
    font-size: 30px;
    color: black;
}