@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(7, 0, 44);
}
a{
    text-decoration: none;
}
.ht{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    display: flex;
    color: white;
    font-size: 50px;
    font-family:'Savate', sans-serif ;
}
.a2026{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.a2025{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a2024{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image2026{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 40px;
}
.image2025{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 40px;
}
.image2024{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 40px;
}
.t2026{
    display: flex;
    color: white;
}
.t2025{
    display: flex;
    color: white;
}
.t2024{
    display: flex;
    color: white;
}
.taniver{
    display: flex;
    color: white;
}
.aniversario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 40px;
}